
  
  @keyframes spin {
    from { border-top-color: white;  }
    to { -webkit-transform: rotate(360deg); border-top-color: #00b900;}
  }
  @-webkit-keyframes spin {
    from { border-top-color: white; }
    to { -webkit-transform: rotate(360deg); border-top-color: #00b900;}
  }
  

